.input:focus {
}

.input {
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.superInput {
}

.errorInput {
    border-color: #CC1439;
}

.errorInput:focus {
}

.error {
    color: #CC1439;
}
