.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 12px;
    margin-top: 30px;
}

.clock {
}

.watch {
}

.watch strong {
}

.more {
    opacity: 0.5;
}