.item {
    border-bottom: 1px solid #E5E5E5;

}

.item:last-of-type {
    border: none;
}

.users {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 606px;
    color: black;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 12px;

    margin-bottom: 18px;
}

.container {
    width: 606px;
}

.thead {
    height: 36px;
    background-color: #E5E5E5;
    color: black;
    vertical-align: middle;
    text-align: left;
    padding: 7px 0 0 0;
    display: flex;

}

.nameCol {
    padding-right: 218px;
    padding-left: 17px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.ageCol {
}