.item {
    border-bottom: 1px solid #E5E5E5;
    padding: 10px 0;
}

.item:last-of-type {
    border: none;
}

.users {
    gap: 16px;
    width: 606px;
    color: black;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 12px;
    margin-bottom: 18px;
}

.container {
    width: 606px;
}

.thead {
    height: 36px;
    background-color: #E5E5E5;
    color: black;
    vertical-align: middle;
    text-align: left;

}

.nameCol {
    padding-left: 17px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-align: left;
}

.ageCol {
    text-align: left; /* Выравнивание текста */
    /*text-align: right;*/
}