.App {
    --header_height: 60px;
    box-sizing: border-box;
}

.hw {
    margin: 24px 70px 35px 70px;
}

.hwTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    /*width: 165px;*/
    /*height: 27px;*/
    padding: 131px 0 0 70px;
}