.button {
    padding: 5px 24px;
    border-radius: 3px;
    gap: 10px;
    min-width: 129px;
    min-height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
    border: none;
    font-weight: 600;
    background-color: #0066CC;
    color: #FFFFFF;
}

.disabled {
    background-color: #004D99;
    color: #002E5C;
    opacity: 0.5;
}

.secondary {
    color: #0066CC;
    background-color: #FFFFFF;
    border: 1px solid #0066CC;
}

.default {

}

.red {
    background-color: #CC1439;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
